# A CircleCI configuration file to run UI and API tests in separate jobs.
# The API tests will only run after the UI tests have successfully completed.

version: 2.1

jobs:
  run_ui_tests:
    docker:
      - image: cimg/node:lts-browsers
    steps:
      - checkout

      # Run UI tests for achme-chemicals
      - run:
          name: "Setup and run UI tests for folder1"
          command: |
            cd task1-achme-chemicals
            npm -y init
            npm install nightwatch
            npx nighwatch

      # Run UI tests for linkedin
      - run:
          name: "Setup and run UI tests for folder2"
          command: |
            cd task2-linkedin
            npm -y init
            npm install nightwatch
            npx nighwatch

      # Run UI tests for my-site
      - run:
          name: "Setup and run UI tests for folder3"
          command: |
            cd task3-my-store/MyStore
            npm -y init
            npm install nightwatch
            npx nighwatch

  run_api_tests:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout

      # Run API tests for mock-user-auth
      - run:
          name: "Setup API tests in folder4"
          command: |
            cd task4-mock-user-auth/
            npm -y init
            npm install supertest mock-user-auth
            npm pkg set scripts.dev="nodemon ./node_modules/mock-user-auth/bin/www.js"
            npm run dev

      - run:
          name: "Run API Tests"
          command: |
            cd task4-mock-user-auth/
            npx nighwatch

workflows:
  build_and_test:
    jobs:
      - run_ui_tests
      - run_api_tests:
          requires:
            - run_ui_tests
